requests==2.31.0
pandas==2.1.4
numpy==1.26.3
spacy==3.7.4
sentence-transformers==3.0.1
bertopic==0.16.4
transformers==4.40.0
statsmodels==0.14.1
pmdarima==2.0.4
lightgbm==4.3.0
scikit-learn==1.4.2
scipy==1.12.0
matplotlib==3.8.3
plotly==5.20.0
fastapi==0.111.0
uvicorn==0.29.0
sqlalchemy==2.0.29
aiohttp==3.9.5
python-dotenv==1.0.1
tqdm==4.66.2
